/*
-------Fonts----------
*/

@font-face {
  font-family: Calibri;
  font-display: swap;
  src: url("../fonts/Calibri-Bold.woff2")  url("../fonts/Calibri-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Calibri;
  font-display: swap;
  src: url("../fonts/Calibri.woff2")  url("../fonts/Calibri.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2")  url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff2")  url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2")  url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2")  url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2")  url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/*
-------Reset----------
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
input,
button,
textarea,
select,
header,
main,
footer,
section {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
----------Base-------------
*/

body {
  background-color: #f0f7ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #7D7D7D;
  height: 100%;
}

body .locked {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.home__wrapper {
  font-family: "Calibri", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 86px 1fr;
  grid-template-columns: 86px 1fr;
  overflow: auto;
  height: 100vh;
}

.table__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F6F6F6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 319px 1fr 139px;
  grid-template-columns: 319px 1fr 139px;
  color: #5E5E5E;
  font-size: 12px;
}

/*
----------Global-------------
*/

.container {
  max-width: 1655px;
  margin: 0 auto;
  padding: 0 15px;
}

.language {
  position: relative;
  background-color: #FFFFFF;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.language select {
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  padding: 34px 46px 37px 27px;
}

.language select option {
  display: block;
  font-family: "Calibri", sans-serif;
  font-size: 18px;
  color: #000000;
}

.language::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../img/arrow-black.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 20%;
  top: 45%;
}

.btn {
  font-family: "Calibri", sans-serif;
  display: inline-block;
  background-color: #322B4D;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.05em;
  padding: 25px 32px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

/*
----------Socials-------------
*/

.socials {
  list-style-type: none;
}

.socials__item + .socials__item {
  margin-top: 46px;
}

.socials__link svg {
  width: 22px;
  height: 22px;
}

/*
---------Header-----------
*/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  margin-left: 50px;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__user {
  background-color: #D85B5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.burger {
  display: block;
  position: relative;
  z-index: 2;
  width: 18px;
  cursor: pointer;
  border: 0;
}

.burger::before,
.burger::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.burger span {
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 7px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.burger:after {
  top: 0;
}

.burger::before {
  bottom: 5px;
}

.burger--active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.burger--active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}

.burger--active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

/*
---------Home-----------
*/

.home__aside {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 85px;
  min-height: 90px;
  background-color: #322B4D;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.home__burger:not(:last-child) {
  margin-bottom: 16px;
}

.copyright {
  letter-spacing: -0.05em;
  white-space: nowrap;
  margin-bottom: 61px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 16px;
}

.slider {
  margin-left: 54px;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 88px;
  grid-template-columns: 1fr 88px;
}

.slider__wrapper {
  margin-right: 16px;
}

.slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 251px;
}

.slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  background-color: #322B4D;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 9px;
}

.slider__pagination span {
  display: block;
  width: 31px;
  height: 3px;
  background-color: #322B4D;
  cursor: pointer;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.slider__pagination .active {
  width: 65px;
}

.slider__pagination span:not(:first-child) {
  margin-top: 16px;
}

.slider__btns {
  position: relative;
  bottom: -66px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.intro__content {
  max-width: 668px;
  position: relative;
}

.intro__title {
  font-weight: 700;
  font-size: 120px;
  letter-spacing: -0.05em;
  color: #000;
  white-space: nowrap;
}

.intro__title::before {
  content: "01";
  font-family: "Calibri";
  font-weight: 400;
  font-size: 36px;
  color: #D85B5B;
  position: absolute;
  left: -61px;
  top: 20px;
}

.intro__title span {
  color: #D85B5B;
}

.intro__subtitle {
  font-size: 48px;
  line-height: 34px;
  letter-spacing: -0.05em;
  color: #000;
}

.intro__subtitle:not(:last-child) {
  margin-bottom: 19px;
}

.intro__info {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #000;
}

.intro__info:not(:last-child) {
  margin-bottom: 29px;
}

.intro__text {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #5E5E5E;
}

.intro__text:not(:last-child) {
  margin-bottom: 27px;
}

.intro__img {
  max-width: 765px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.news__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #000;
}

.news__title:not(:last-child) {
  margin-bottom: 37px;
}

.news__articles {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
  gap: 21px;
}

.article__data {
  display: block;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #5E5E5E;
}

.article__data:not(:last-child) {
  margin-bottom: 10px;
}

.article__title {
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #000;
}

.article__title:not(:last-child) {
  margin-bottom: 10px;
}

.article__text {
  line-height: 22px;
  letter-spacing: -0.05em;
}

.article__text:not(:last-child) {
  margin-bottom: 10px;
}

.article__link {
  background-color: #322B4D;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.table__main {
  background-color: #fff;
}

.calendar {
  margin: 67px 21px 0;
  padding-bottom: 64px;
}

.calendar__users {
  margin-left: 70px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 152px);
  gap: 33px;
  margin-bottom: 14px;
}

.calendar__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar__user span {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  white-space: nowrap;
  margin-top: 10px;
}

.calendar__table {
  border-bottom: 1px solid #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0 5px;
}

.calendar__table:not(:last-child) {
  margin-bottom: 2px;
}

.calendar__info {
  font-size: 14px;
  color: #7D7D7D;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
}

.calendar__info sup {
  font-size: 8px;
}

.calendar__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 187px);
  -ms-grid-rows: 66px;
  grid-template-rows: 66px;
  gap: 5px;
  margin-left: 7px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.calendar__block {
  background-color: #B5E0E9;
  border-radius: 10px;
  padding: 3px 5px 10px 9px;
}

.calendar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3px;
  margin-bottom: 3px;
}

.calendar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar__time {
  color: #37598B;
  line-height: 15px;
}

.calendar__new {
  background-color: #6CD26A;
  border-radius: 5px;
  color: #F6F6F6;
  font-weight: 700;
  font-size: 9px;
  padding: 4px 4px;
  margin-left: 10px;
}

.calendar__desc {
  font-weight: 700;
  color: #37598B;
}

.calendar__desc:not(:last-child) {
  margin-bottom: 6px;
}

.calendar__author {
  font-size: 11px;
  color: #37598B;
}

/*
---------Template-----------
*/

.aside {
  padding: 33px 16px 16px 33px;
}

.aside__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__header:not(:last-child) {
  margin-bottom: 60px;
}

.aside__user {
  width: 84px;
  height: 84px;
  font-weight: 700;
  color: #000000;
}

.aside__user span {
  margin-top: 9px;
  text-align: center;
  display: block;
}

.aside__user:not(:last-child) {
  margin-right: 33px;
}

.aside__wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border-radius: 15px;
  min-width: 102px;
  height: 39px;
  padding: 10px 15px;
}

.aside__wallet:not(:last-child) {
  margin-right: 21px;
}

.aside__wallet span {
  display: block;
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.aside ul {
  list-style-type: none;
}

.aside__list {
  margin-left: 12px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.aside__list:not(:last-child) {
  margin-bottom: 6px;
}

.aside__list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__list:hover .aside__box {
  background-color: #37598B;
  margin-right: 17px;
}

.aside__list:hover:not(:last-child) {
  margin-bottom: 33px;
}

.aside__list:hover .aside__item {
  color: #000;
  margin-top: 5px;
}

.aside__list:hover .aside__sublist {
  opacity: 1;
  overflow: visible;
  visibility: visible;
  height: auto;
  margin-top: 14px;
}

.aside__list:hover path {
  stroke: #fff;
}

.aside__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-right: 12px;
  border-radius: 10px;
  width: 64px;
  height: 60px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.aside__box svg {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.aside__item {
  color: #5A5A5A;
}

.aside__sublist {
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 77px;
}

.aside__sublist .aside__item + .aside__item {
  margin-top: 28px;
}

.aside__link {
  font-weight: 500;
  color: #A5A5A5;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 31px;
}

.data__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  min-width: 98px;
  min-height: 50px;
  padding: 0 16px;
}

.data__control svg {
  position: relative;
  right: 7px;
}

.data__control:not(:last-child) {
  margin-bottom: 39px;
}

.data__block {
  background-color: #FFFFFF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  min-width: 70px;
  min-height: 69px;
  margin-right: 7px;
}

.data__block + .data__block {
  margin-top: 7px;
}

.data__block:hover {
  background-color: #322B4D;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.data__block:hover .data__number {
  color: #fff;
}

.data__block:hover .data__day {
  color: #fff;
}

.data__number {
  color: #322B4D;
  font-size: 28px;
}

.data__number:not(:last-child) {
  margin-bottom: 10px;
}

.data__day {
  color: #5E5E5E;
}

.data-control__info {
  color: #7E7E7E;
  margin-left: 10px;
}

.data-control__info span {
  color: #5E5E5E;
}

/*
---------Footer-----------
*/

@media (min-width: 1400px) {
  .intro__content {
    margin: 74px 87px 0 65px;
  }
}

@media (max-width: 1600px) {
  .intro__content {
    margin: 74px 0 0 65px;
  }

  .intro__img {
    max-width: 555px;
  }
}

@media (max-width: 1199.98px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }

  .intro__content {
    margin: 20px 0 0 65px;
  }
}

@media (any-hover: hover) {
  .language:hover {
    background-color: #f2f2f2;
  }

  .btn:hover {
    background-color: #473d6e;
  }

  .header__user:hover {
    background-color: #a62727;
  }

  .home__burger:hover {
    background-color: #5d508e;
  }

  .slider__btn:hover {
    background-color: #5d508e;
  }

  .slider__pagination span:hover {
    width: 65px;
  }

  .article__link:hover {
    background-color: #473d6e;
  }
}